.app {
  background-image: url(./wino.jpg);
  flex: 1;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 75%;
  height: 100%;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;

}
.container{
  width: 600px;
  margin:auto;
  padding-bottom: 48px;
}


.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
