.app {
  height: 100vh;
  background: rgb(242,235,199);
}

.container{
  background: rgb(242,235,199);
  width: 600px;
  margin:auto;
  padding-bottom: 48px;
}
.up-header {
  background: rgb(52,54,66);
  height: 40px;

}

.bottom-header {
  background: rgb(97,20,39);
  height: 40px;
  width: 100%;
  margin-top: 20px;
}


.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
