.navbar-item{
    text-align: center;
    border: 2px solid rgb(52,54,66);
    margin:auto;
    padding:12px 40px;
    border-radius: 8px;
    width: 200px;
    margin-top: 10px;
    background-color: beige;
}
